# Отключение просмотра содержимого папок
Options -Indexes

# Включение перезаписи URL
RewriteEngine On
RewriteBase /
# Установка главной страницы
DirectoryIndex index.php

# Настройка кодировки UTF-8
AddDefaultCharset UTF-8

#Правило для отображения конкретной статьи: /news/article/1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^news/article/([0-9]+)/?$ index.php?controller=article&id=$1 [L,QSA]

# Правило для отображения списка новостей: /news/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^news/?$ index.php?controller=news [L,QSA]

# Правило для главной страницы
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php?controller=index [L,QSA]

# Обработка ошибки 404
ErrorDocument 404 /404.php
